<!--
 - Created by ryanskelton on 1/8/20.
 -->

<!-- Navigation List -->
<template>
    <div class="slds-grid slds-wrap slds-grid_vertical-align-center">

        <!-- mobile menu + hamburger icon -->
        <lightning-button-icon-stateful if:true={mobileHamburger} icon-name={mobileMenuIcon} variant={mobileMenuIconVariant} class="slds-hide_medium" alternative-text="Toggle mobile menu" selected={showMobileMenu} onclick={handleMobileMenuClick}></lightning-button-icon-stateful>
        <section if:true={mobileHamburger} class={navContainerClass}>
            <ul class="slds-has-dividers_top slds-has-block-links_space slds-grid_vertical-align-center slds-is-absolute">
                <li class="slds-item" if:true={link1}><c-navigation-link link={link1} text={link1Text} is-button={link1IsButton} open-in-new-page={link1OpenInNewPage} inverse={inverse}></c-navigation-link></li>
                <li class="slds-item" if:true={link2}><c-navigation-link link={link2} text={link2Text} is-button={link2IsButton} open-in-new-page={link2OpenInNewPage} inverse={inverse}></c-navigation-link></li>
                <li class="slds-item" if:true={link3}><c-navigation-link link={link3} text={link3Text} is-button={link3IsButton} open-in-new-page={link3OpenInNewPage} inverse={inverse}></c-navigation-link></li>
                <li class="slds-item" if:true={link4}><c-navigation-link link={link4} text={link4Text} is-button={link4IsButton} open-in-new-page={link4OpenInNewPage} inverse={inverse}></c-navigation-link></li>
                <li class="slds-item" if:true={link5}><c-navigation-link link={link5} text={link5Text} is-button={link5IsButton} open-in-new-page={link5OpenInNewPage} inverse={inverse}></c-navigation-link></li>
                <li class="slds-item" if:true={link6}><c-navigation-link link={link6} text={link6Text} is-button={link6IsButton} open-in-new-page={link6OpenInNewPage} inverse={inverse}></c-navigation-link></li>
                <li class="slds-item" if:true={link7}><c-navigation-link link={link7} text={link7Text} is-button={link7IsButton} open-in-new-page={link7OpenInNewPage} inverse={inverse}></c-navigation-link></li>
                <li class="slds-item" if:true={link8}><c-navigation-link link={link8} text={link8Text} is-button={link8IsButton} open-in-new-page={link8OpenInNewPage} inverse={inverse}></c-navigation-link></li>
            </ul>
        </section>

        <!-- Horizontal menu -->
        <ul class={horizontalMenuContainerClass}>
            <li class="slds-item test" if:true={link1}><c-navigation-link link={link1} text={link1Text} is-button={link1IsButton} open-in-new-page={link1OpenInNewPage} inverse={inverse}></c-navigation-link></li>
            <li class="slds-item test" if:true={link2}><c-navigation-link link={link2} text={link2Text} is-button={link2IsButton} open-in-new-page={link2OpenInNewPage} inverse={inverse}></c-navigation-link></li>
            <li class="slds-item test" if:true={link3}><c-navigation-link link={link3} text={link3Text} is-button={link3IsButton} open-in-new-page={link3OpenInNewPage} inverse={inverse}></c-navigation-link></li>
            <li class="slds-item test" if:true={link4}><c-navigation-link link={link4} text={link4Text} is-button={link4IsButton} open-in-new-page={link4OpenInNewPage} inverse={inverse}></c-navigation-link></li>
            <li class="slds-item test" if:true={link5}><c-navigation-link link={link5} text={link5Text} is-button={link5IsButton} open-in-new-page={link5OpenInNewPage} inverse={inverse}></c-navigation-link></li>
            <li class="slds-item test" if:true={link6}><c-navigation-link link={link6} text={link6Text} is-button={link6IsButton} open-in-new-page={link6OpenInNewPage} inverse={inverse}></c-navigation-link></li>
            <li class="slds-item test" if:true={link7}><c-navigation-link link={link7} text={link7Text} is-button={link7IsButton} open-in-new-page={link7OpenInNewPage} inverse={inverse}></c-navigation-link></li>
            <li class="slds-item test" if:true={link8}><c-navigation-link link={link8} text={link8Text} is-button={link8IsButton} open-in-new-page={link8OpenInNewPage} inverse={inverse}></c-navigation-link></li>
        </ul>
        <lightning-layout class="mobileFooter">
            <lightning-layout-item size=12 if:true={link1} class="mobileLink">
                <c-navigation-link link={link1} text={link1Text} is-button={link1IsButton} open-in-new-page={link1OpenInNewPage} inverse={inverse}></c-navigation-link>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout class="mobileFooter">
            <lightning-layout-item size=12 if:true={link2} class="mobileLink">
                <c-navigation-link link={link2} text={link2Text} is-button={link2IsButton} open-in-new-page={link2OpenInNewPage} inverse={inverse}></c-navigation-link>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout class="mobileFooter">
            <lightning-layout-item size=12 if:true={link3} class="mobileLink">
                <c-navigation-link link={link3} text={link3Text} is-button={link3IsButton} open-in-new-page={link3OpenInNewPage} inverse={inverse}></c-navigation-link>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout class="mobileFooter">
            <lightning-layout-item size=12 if:true={link4} class="mobileLink">
                <c-navigation-link link={link4} text={link4Text} is-button={link4IsButton} open-in-new-page={link4OpenInNewPage} inverse={inverse}></c-navigation-link>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout class="mobileFooter">
            <lightning-layout-item size=12 if:true={link5} class="mobileLink">
                <c-navigation-link link={link5} text={link5Text} is-button={link5IsButton} open-in-new-page={link5OpenInNewPage} inverse={inverse}></c-navigation-link>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout class="mobileFooter">
            <lightning-layout-item size=12 if:true={link6} class="mobileLink">
                <c-navigation-link link={link6} text={link6Text} is-button={link6IsButton} open-in-new-page={link6OpenInNewPage} inverse={inverse}></c-navigation-link>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout class="mobileFooter">
            <lightning-layout-item size=12 if:true={link7} class="mobileLink">
                <c-navigation-link link={link7} text={link7Text} is-button={link7IsButton} open-in-new-page={link7OpenInNewPage} inverse={inverse}></c-navigation-link>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout class="mobileFooter">
            <lightning-layout-item size=12 if:true={link8} class="mobileLink">
                <c-navigation-link link={link8} text={link8Text} is-button={link8IsButton} open-in-new-page={link8OpenInNewPage} inverse={inverse}></c-navigation-link>
            </lightning-layout-item>
        </lightning-layout>

    </div>
</template>