/**
 * Created by ryanskelton on 1/8/20.
 */
ul {
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1.25rem 0;
    background: transparent !important;
}
.slds-wrap {
    margin: 1.5625rem 0;
}
.slds-theme_inverse {
    background-color: transparent;
}

.textLinks {
    text-align: center;
}

.mobileFooter {
    display: none;
}

@media screen and (max-width: 48em) {
    .slds-grid ul {
        display: none;
    }
    .mobileFooter {
        display: block;
        width:100%;
        text-align: center;
        padding: 0.1875rem 0;
    }
    .mobileLink {
        text-align: center;
    }
}

/**
 * branding styles
 * overwrite these in the custom theme
 */