<template >
    <div class="content">
        <h1 class="header">Verification</h1>
            <br/>
        <p class="helptext2">An email with the verification code was sent to {userEmail}.</p>
            <br/>
        <div class="fieldPadding">
            <lightning-input class="inputCode" label="Enter the 5-digit code:" value={userEnteredCode} onchange={updatedCode} required>
            </lightning-input>
        </div>
            <br/>
        <lightning-button variant="brand" label="Verify" title="Primary action" onclick={handleClick}></lightning-button>
            <br/><br/>
        <p>
            <span class="helptext1">Didn't receive the code? </span><span class="helptext2"><a class="links" tabindex="0" onclick={resendCode}>Resend code</a> or check your spam filter. Email <a class="links" href={ContactEmail}>{supportEmail}</a> if you are still having the trouble.</span>
        </p>
            <br/> 
    </div>
</template>