.loader{
    position: inherit;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.data_table {
    height:200px !important;
}

.error_msg{
    color:red;
}

.noData_msg{
    padding-left: 2%;
}