.THIS{
    font-family:CFA Breuer Text;
}

.THIS .heading{
    font-size:22px;
    font-weight:bold;
}
.THIS .subheading{
    font-size:19px;
    font-weight:bold;
}
.THIS .content{
	font-size:16px;
}
.THIS .eng-date{
    font-size:16px;
	display: inline-block;
}
.THIS .abc{
     display: none;
}
.THIS .def{
    display: block;   
}
.THIS .myCheckbox{
  display: inline-block;
  float: left;
  margin-top: 1%;  
}
.THIS .Errormsg{
    font-size: 15px !important;
    color: red !important;
}