<template> 
    <lightning-card>
        <header class="slds-card__header">
            <div class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body slds-truncate">
                    <h2><span class="slds-text-heading_small" slot="title">{title1}</span></h2>
                </div>
            </div>
        </header>
        <lightning-accordion slot="footer" allow-multiple-sections-open>

            <lightning-accordion-section label="Customer Apps">
                <div class="slds-grid">
                    <div class="slds-col slds-size_1-of-2">
                    <lightning-layout  vertical-align="stretch" multiple-rows="true" class="x-medium lay-size" >
                        <lightning-layout-item flexibility="auto" padding="around-small">
                            <div class="slds-p-bottom_medium">
                            <lightning-button variant="brand" label="Membership" title="CCAP_Customer_Membership" onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small"></lightning-button>
                        </div>
                        
                        <div class="slds-p-bottom_medium">
                            <lightning-button variant="brand" label="Preferences" title="CCAP_Customer_Preferences" onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small"></lightning-button>
                        </div>
                        </lightning-layout-item> 
                    </lightning-layout>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                    <lightning-layout  vertical-align="stretch" multiple-rows="true" class="x-medium lay-size" >
                        <lightning-layout-item flexibility="auto" padding="around-small">
                            <div class="slds-p-bottom_medium">
                                <lightning-button variant="brand" label="Membership Application" title="CCAP_Customer_MAImpersonation"  onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small slds-p-around_none"></lightning-button>
                            </div>
                            <div class="slds-p-bottom_medium">
                                <lightning-button variant="brand" label="Profile" title="CCAP_Customer_Profile"  onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small"></lightning-button>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout> 
                    </div>
                </div> 
            </lightning-accordion-section> 
        
            <lightning-accordion-section label="Internal Apps">

                <div class="slds-grid">
                    <div class="slds-col slds-size_1-of-2">
                    <lightning-layout  vertical-align="stretch" multiple-rows="true" class="x-medium lay-size" >
                        <lightning-layout-item flexibility="auto" padding="around-small">
                            <div class="slds-p-bottom_medium">
                                <lightning-button variant="brand" label="Basno App" title="CCAP_Internal_BasnoApp" onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small"></lightning-button>
                            </div>
                            <div class="slds-p-bottom_medium">
                                <lightning-button variant="brand" label="CFA Program"  title="CCAP_Internal_CFAprogram"   onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small"></lightning-button>
                            </div>
                            <div class="slds-p-bottom_medium">
                                <lightning-button variant="brand" label="CIPM Program"  title="CCAP_Internal_CIPMprogram"   onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small"></lightning-button>
                            </div>
                            <div class="slds-p-bottom_medium">
                                <lightning-button variant="brand" label="Internal Admin Tool"  title="CCAP_Internal_InternalAdmTool"  onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small slds-p-around_none"></lightning-button>
                            </div>
                            <div class="slds-p-bottom_medium">
                                <button title="CCAP_Internal_OfflineOrder" onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small slds-p-around_none">Offline Membership Payment</button>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                    <lightning-layout  vertical-align="stretch" multiple-rows="true" class="x-medium lay-size" >
                        <lightning-layout-item flexibility="auto" padding="around-small">
                            <div class="slds-p-bottom_medium">
                                <button title="CCAP_Internal_InternalSupLink" onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small slds-p-around_none">Internal Support App</button>
                            </div>
                            <div class="slds-p-bottom_medium">
                                <lightning-button variant="brand" label="NetSuite History"  title="CCAP_Intenal_NetSuiteHistory" onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small slds-p-around_none"></lightning-button>
                            </div>
                            <div class="slds-p-bottom_medium">
                                <lightning-button variant="brand" label="Pricing"  title="CCAP_Internal_Pricing" onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small"></lightning-button>
                            </div>
                            <div class="slds-p-bottom_medium">
                                <button title="CCAP_Internal_MemAppReview" onclick={handleClick} class="slds-button slds-button_brand slds-button_stretch slds-m-left_x-small slds-p-around_none">Membership Application Review</button>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                    </div>
                </div> 
            </lightning-accordion-section>
        </lightning-accordion>
 </lightning-card> 
</template>