<apex:page >
    <apex:includeLightning />
    <div id="lightning" />
    <script>
      var checkUI = '{! $User.UIThemeDisplayed }';
      if(checkUI == 'Theme3') {
        var recId = '{!$CurrentPage.parameters.id}';
        $Lightning.use("c:cfa_VM_extendRole_app", function() {
            $Lightning.createComponent("c:cfa_VM_extendRole_cmp", { 
                "recordId" : recId,
                "isVF":true
            },
            "lightning",
            function(cmp) {
            	
            });
        });
     } else {
    
          var recId = '{!$CurrentPage.parameters.id}';
        
          var url =  btoa('{"componentDef":"c:cfa_VM_extendRole_cmp","attributes":{"recordId" :"'+recId+'"},"state":{}}');
          //sforce.one.navigateToURL('/one/one.app?source=alohaHeader#'+url);
          
          if((typeof sforce != 'undefined') && sforce && (!!sforce.one))
              sforce.one.navigateToURL('/one/one.app?source=alohaHeader#'+url);
          else 
              window.location.href = '/one/one.app?source=alohaHeader#'+url;
      }
  </script>
</apex:page>