.THIS {
    font-family: 'CFA Breuer Text';
}

.THIS .slds-input{
    width: 90% !important;
}

.THIS .slds-modal__header {
    font-size: 22px !important;
    font-weight: 900 !important;
}

.THIS .uiInput--default .form-element__label{
    font-weight: BOLD !important;
    font-size: 16px !important;
}
.THIS .uiInput--select .select{
    height:33px;
    
        width: 90%;
}

.THIS .Errormsg{
    font-size: 15px !important;
    color: red !important;
}

.THIS .subheading {
    font-size: 19px;
    font-weight: bold;}
.THIS .content{
 font-size:16px;   
}



@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
    {
    /* For mobile: */
    

.THIS  .TaskTitle{
        margin-left: 13% !important;
    margin-top: -14% !important;
}


}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
/* For tablets: */


.THIS .TaskTitle{
            margin-left: 6% !important;
    margin-top: -7% !important;
}
}