<!--
 - Created by ryanskelton on 3/14/20.
 -->

<!-- Social Footer -->
<template>
    <div class="iconSocial" >
        <ul class="inlineIcons">
            <li><a href="http://www.facebook.com/CFAInstitute"><img src={facebookURL}/></a> </li>
            <li><a href="http://www.linkedin.com/company/cfainstitute"><img id="linkedin" class="linkedinImg" src={linkedInURL}  /></a> </li>
            <li><a href="https://twitter.com/cfainstitute"><img src={twitterURL} /></a> </li>
            <li><a href="https://www.youtube.com/user/cfainstitute"><img src={youtubeURL} /></a> </li>
            <li><a href="https://instagram.com/cfainstitute/"><img src={instaURL} /></a> </li>
            <li><a href="https://www.cfainstitute.org/utility/wechat"><img src={wechatURL} /></a></li>
            <li><a href="https://weibo.com/cfainst"><img src={weiboURL} /></a></li>
        </ul>
    </div>
</template>