/**
 * Created by ryanskelton on 3/14/20.
 */

.iconSocial {
    padding: 1.25rem 0 0.625rem;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    /* For mobile: */
    ul.inlineIcons li {
        display: inline;
        padding:0 0.3125rem;
    }

    ul.inlineIcons li img{
        width: 1.875rem;
    }

    ul.inlineIcons{
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    ul.inlineIcons li {
        display: inline;
        padding:0 0.625rem;}

    ul.inlineIcons li img{
        width: 2.6875rem;

    }
    ul.inlineIcons li img:nth-child(2) {
        margin-top: 0.1875rem !important;
    }

    ul.inlineIcons{
        text-align: center;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
    /* For tablets: */
    ul.inlineIcons li {
        display: inline;
        padding:0 0.625rem}

    ul.inlineIcons li img{
        width: 3.125rem;

    }

    ul.inlineIcons{
        width: 66%;
        margin: 0 auto;
    }
}