<template>
        <lightning-datatable data={data} key-field="Name" columns={columns}
        hide-checkbox-column max-column-width="310" data-navigation="disable">
  
    </lightning-datatable>

</template>