<template>
    <div class="slds-notify_container slds-is-relative cfa-banner-container slds-m-bottom_xx-small" if:true={showOFACBanner}>
        <div class="slds-notify slds-notify_toast slds-theme_error cfa-banner" role="status">
            <span class="slds-assistive-text">error</span>
            <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top">
                <lightning-icon icon-name="utility:error" variant="inverse" alternative-text="Error" title="Error"></lightning-icon>
            </span>
            <div class="slds-notify__content">
                <h2 class="slds-text-heading_small ">This person has an active OFAC restriction.&nbsp;
                <a href="javascript:void(0);" onclick={viewOFACRestriction}>View restriction</a></h2>
            </div>
        </div>
    </div>  
    <div class="slds-notify_container slds-is-relative cfa-banner-container" if:true={showWarningBanner}>
        <div class="slds-notify slds-notify_toast slds-theme_warning cfa-banner" role="status">
            <span class="slds-assistive-text">warning</span>
            <span class="slds-icon_container slds-icon-utility-warning slds-m-right_small slds-no-flex slds-align-top">
                <lightning-icon icon-name="utility:warning" alternative-text="Warning" title="Warning"></lightning-icon>
            </span>
            <div class="slds-notify__content">
                <h2 class="slds-text-heading_small">This person has an active restriction.&nbsp;
                <a href="javascript:void(0);" onclick={viewRestriction}>View restriction</a></h2>
            </div>
        </div>
    </div>    
    <div class="slds-notify_container slds-is-relative cfa-banner-container" if:true={showErrorBanner}>
        <div class="slds-notify slds-notify_toast slds-theme_error cfa-banner" role="status">
            <span class="slds-assistive-text">error</span>
            <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top">
                <lightning-icon variant="inverse" icon-name="utility:error" alternative-text="Error" title="Error"></lightning-icon>
            </span>
            <div class="slds-notify__content">
                <h2 class="slds-text-heading_small ">{errorMessage}</h2>
            </div>
        </div>
    </div>        
</template>