<!--
 - Created by ryanskelton on 2/4/20.
 -->

<template>
    <section>
        <div class="ask-question">
            <h3>Open a Customer Service Inquiry</h3>
            <p>To open an inquiry, log in or create an account.</p>
            <a href={ButtonURL}>
                <lightning-button name="Sign In"
                                  label="Ask a Question" class="ask-button"></lightning-button></a>

        </div>
    </section>
</template>