.THIS {
}

.THIS .cCenterPanel .contentRegion .comm-layout-columnn{
    padding-top: 20% !important;
    padding-bottom: 20% !important;
}

.THIS  .siteforceServiceBody .siteforceContentArea{
    padding-top: 20% !important;
    padding-bottom: 20% !important;
}