.THIS .rolename {
    width:30%;
    padding-left:0%;
}
.THIS .engmnt {
    width:30%;
}
.THIS .startdate {
    width:12%;
} 
.THIS .positions {
    width:4%;
    padding-right:0%;
}
.THIS .note{
    font-size: 15px;
    font-weight: 600;
    color: #ff0000;
    margin-left: 2%;
}