.container{
    border-top: black solid;
  }

  .container-header{
    margin-top: 1rem;
  }

  .container-content{
        margin-top: 5% !important;
        margin-left: 10% !important;
  }

  .container-content-title{
      margin-left: 5% !important;
  }

  .container-information{
      margin-left: 10%;
  }
  

  .container-icon{
    max-width: 5% !important;
  }
  .grid-container-medium{
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-container-small{
    display: grid;
    grid-template-columns: auto;
  }
 .heading{
   color: #002f6c;
   font-weight: bold;
 }
 .buttonText{
   border-radius: 1rem;
   float: right;
 }