.THIS {
}

.THIS.fb-link:before,
.THIS.t-link:before,
.THIS.li-link:before,
.THIS.wc-link:before,
.THIS.sn-link:before {
  content: "";
  display: inline-block;
  width: 45px !important;
  height: 45px !important;
  }

.THIS .social {
  display: block;
  background-color:#4d4d4d;
  text-align: center; }
 .THIS .social a.fb-link:not(:last-child),
 .THIS .social a.t-link:not(:last-child),
 .THIS .social a.li-link:not(:last-child),
 .THIS .social a.wc-link:not(:last-child),
 .THIS .social a.sn-link:not(:last-child) {
    margin-right: 1.5rem; }