.THIS {
}

.THIS .slds-input{
    width: 90% !important;
}

.THIS .slds-modal__header {
    font-size: 22px !important;
    font-weight: 900 !important;
}

.THIS .slds-table--fixed-layout tbody{
   
        border-bottom: 4px solid black !important;
}

.THIS .Errormsg{
    font-size: 15px !important;
    color: red !important;
}

.THIS .uiInput--default .form-element__label{
    font-weight: BOLD !important;
    font-size: 16px !important;
}
.THIS .uiInput--select .select{
    height:33px;
    
        width: 90%;
}

.THIS .cEngagement_Volunteer_Detail_aux hr {
    border-top: 4px solid;
}