.THIS{
    
}
.THIS .table1 {
        color: #0773be;
    text-decoration: underline;
    box-sizing: border-box;
    text-align: center;
    font-family: "CFA Breuer", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.THIS .table2{
        font-family: "CFA Breuer", Arial, Helvetica, sans-serif;
        color: #231f20;
        font-size: 1rem;
    	text-align: right;
}
.THIS a {
    background-color: transparent;
    cursor: pointer;
}