<!--
 - Created by ryanskelton on 2/23/20.
 -->

<!-- Cfa Self Service Gdpr -->
<template>
    <template if:false={completeGDPR}>
        <div class="gdpr">
            <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_offline " role="alert">
                <div class="slds-grid slds-wrap slds-grid--pull-padded slds-align-middle">
                    <div class="slds-col--padded slds-size--4-of-6 slds-text-align--left">
                        <p>We’re using cookies, but you can turn them off in Privacy Settings. If you use the site without changing settings, you are agreeing to our use of cookies. Learn more in our <a href="https://www.cfainstitute.org/en/about/governance/policies/privacy-policy" target="_blank">Privacy Policy</a>.
                        </p>
                    </div>
                    <div class="slds-col--padded slds-size--1-of-6 ">
                        <lightning-button class="privacyButton" label="Privacy Settings" onclick={openmodal}>Privacy Settings</lightning-button>

                    </div>
                    <div class="slds-col--padded slds-size--1-of-5">
                        <div class="slds-notify__close">
                            <lightning-button-icon class="close" icon-name="utility:close" onclick={closeBanner} alternative-text="Close" title="Close"></lightning-button-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template if:true={openmodel}>
            <div>
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                <lightning-icon icon-name="utility:close" size="medium">
                                </lightning-icon>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h4 class="slds-text-heading_medium slds-hyphenate">Privacy Policy</h4>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium">
                            <p><b>Functional cookies</b>, which are necessary for basic site functionality like keeping you logged in, are <b>always enabled</b>.</p>
                            <p><lightning-input type="checkbox"
                                             onchange={handleChange}
                                             checked={value}>
                            </lightning-input>
                                Allow analytics tracking. Analytics helps us understand how the site is used, and which pages are the most popular. Read the <a href="https://www.cfainstitute.org/en/about/governance/policies/privacy-policy" target="_blank">Privacy Policy</a> to learn how this information is used.</p>
                        </div>
                        <footer class="slds-modal__footer">
                            <lightning-button label="Save Settings" variant="brand" onclick={saveMethod}></lightning-button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </template>
    </template>
</template>