.button {
    line-height: 1.875rem;
    background-color: #017acd;
    color: #ffffff;
    border: none;
    border-radius: 1.375rem;
    cursor: pointer;
    display: inline-block;
    max-height: 45px;
    margin: 0 1rem 1.75rem 0;
    min-width: auto;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    text-align: center;
    background-image:none;
    font-size: 18px;
}

.cardBody-Title {
    font-family: Arial,sans-serif;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}

.cardBody-Message {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1.125rem;
    margin: 0 0 1.75rem;
    text-align: justify;
  }

.content {
    background: #fff;      
    vertical-align: middle;
    margin: 1rem;
}

.contentPlacement{
    text-align: left;
    margin-top: 7%;
}

.copyright{
    font-size: 15px;
    margin: 1rem;
}

@media only screen and (max-width: 768px) {
    .contentPlacement_m{
        text-align: center;
        margin-top: 7%;
        margin-left: 1% !important;
        margin-right: 1% !important;
        max-width: 96% !important;
    }
}